.App {
  text-align: center;
}


.screen-wrapper {
  background: linear-gradient(to bottom right,#024,#402);  
  min-height: 100vh;
  display: flex;
  color: white;
  justify-content: center;
}

.pokemon-wrapper {
  max-width: 40vw;
  margin-top: 150px;
  display:flex;
  flex-direction: column;
  align-items: center;

}

.img-wrapper {
  border: 1px solid yellow;
  border-radius: 10px;
}

.headline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100%; 
}

.input-wrapper{
  text-align: center;
  display:flex;
  flex-direction: column;
  min-width: 20vw;
  min-height: 100px;
  margin-top: 20px;
}

.button-wrapper {
  margin-top: 20px;
}