@font-face {
  font-family: 'CinzelDecorative-Black';
  src: local('CinzelDecorative-Black'), url(./fonts/CinzelDecorative-Black.ttf) format('truetype');
}

body {
  margin: 0;
  font-family:'CinzelDecorative-Black'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
